<h1 class="text-center" style="color:#fff">City Slots</h1>
<h2 class="text-center" style="color:#fff">Login</h2>
<div class="row userNameRow">
    <div class="col-sm-12">
        <label style="color:#fff"><i class="fas fa-user"></i>Username</label>
        <input type="text" ng-model="username" class="form-control usernameInput"/>
    </div>
    <div class="col-sm-12">
        <label style="color:#fff"><i class="fas fa-key"></i>Password</label>
        <input type="password" ng-model="password" class="form-control passwordInput"/>
    </div>
    <div class="col-sm-12">
        <div class="loginButtonDiv">
            <button class="btn btn-info loginButton" ng-click="login()"><i class="fas fa-sign-in-alt"></i>Login</button>
        </div>
    </div>
</div>