<html ng-app="clientUiModule">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html;">
        <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./login/login.css">
        <link rel="stylesheet" type="text/css" href="./clientUI/clientUi.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="https://openlayers.org/en/v5.3.0/css/ol.css" type="text/css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
	    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>

        <script type="text/javascript" src="./assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="./assets/js/angular.min.js"></script>
        <script type="text/javascript" src="./assets/js/angular-route.min.js"></script>
        <script type="text/javascript" src="./assets/js/ui-bootstrap-tpls-2.1.4.js"></script>
        <script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="./clientUiController.js"></script>
    </head>
    <body ng-controller="clientUiController">
        <div style="width:100%;height:100%" ng-if="loginPageVisible">
            <login></login>
        </div>
        <div style="width:100%;height:100%;" ng-if="mainClientUIVisible">
            <client></client>
        </div>
        <div style="width:100%;height:100%;" ng-if="openlayerVisible">
            <openlayer></openlayer>
        </div>
    </body>
</html>