<openlayers ol-center="center" height="100%" width="100%">
    <ol-marker ol-marker-properties="orizomilon"><span style="cursor: pointer;" ng-click="openSlotSelectorModal()">Εκκλησία<p>13:10 - 15 λεπτά</p></span></ol-marker>
    <ol-marker ol-marker-properties="finisterre"><span style="cursor: pointer;" ng-click="openSlotSelectorModal()">3ο Δημοτικό <p>13:00 - 5 λεπτά </p></span></span></ol-marker>
    <ol-marker ol-marker-properties="santacomba"><span style="cursor: pointer;" ng-click="openSlotSelectorModal()">Φούρνος <p>13:20 - 20 λεπτά</p></span></ol-marker>
</openlayers>